<form>
  <p>Form field with plain mat-errors:</p>
  <mat-form-field appearance="outline">
    <mat-label>Choose new username</mat-label>
    <input type="text" matInput [formControl]="name1">
    @if (name1.hasError('required')) {
      <mat-error>Field is required</mat-error>
    } @else if (name1.hasError('minLength')) {
      <mat-error>Length has to be at least 3 characters</mat-error>
    } @else if (name1.hasError('maxLength')) {
      <mat-error>Length can not be more than 15 characters</mat-error>
    } @else if (name1.hasError('reservedName')) {
      <mat-error>Reserved names (like admin) can not be used</mat-error>
    }
  </mat-form-field>

  <p>Form field with custom directive:</p>
  <mat-form-field appearance="outline">
    <mat-label>Choose new username</mat-label>
    <input type="text" matInput [formControl]="name2">
    <mat-error *formError="name2; let message">{{ message }}</mat-error>
  </mat-form-field>
</form>

